{% extends "templates/default.twig" %}

{% block content %}
    <div class="container about-container">
        <div class="row">
            <div class="col-md-4 about-img text-center mb-4">
                <img src="/storage/Twandi.png" class="img-fluid" alt="Twandi">
                <div class="overlay"></div>
            </div>
            <div class="col-md-8 about-text">
                Tarisai’s is a Zimbabwean name, and also happens to be the name of my mother, the woman who got me into cakes. It directly translates to “look behold” which suits my mom and my love of cakes perfectly.<br>
                <br>
                From a very young age, watching her make birthday cakes for my family made me fall in love with cake making, not just the flavours and the aesthetic, but also the science behind it. Whether it was a conscious decision or not, I found myself choosing subjects in school and university, that led me back to cakes.<br>
                <br>
                After getting my degree in culinary arts, my next goal was to work in fine dining restaurants as a pastry chef, which I’ve achieved and done for six years. Those years served as a great learning experience and I also made some lifelong friends. Since then, I have honed my skills and returned to York to start my cake business with my mom remaining my main inspiration.
                <p class="text-right pt-5">Twandi M</p>
            </div>
        </div>
    </div>
{% endblock %}