{% extends "templates/default.twig" %}

{% block head_content %}
<script>
    function onSubmit(token) {
        document.getElementById("contact-form").submit();
    }
</script>
{% endblock %}

{% block content %}
    <div class="container contact-container">
        <div class="col-md-12 title-container text-center">
            <span>Contact</span>
        </div>
        <div class="row">
            <div class="col-md-6 text-right">
                <form action="{{ route('contactStore') }}" method="post" id="contact-form">
                    {{ csrf_field() }}
                    {% if errors.any %}
                        {% for error in errors.all %}
                            <div class="alert alert-danger text-center">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if app.session.get('message') %}
                        <div class="alert alert-success text-center">
                            {{ app.session.get('message') }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" value="{{ old('name') }}" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" value="{{ old('email') }}"  placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control" cols="30" rows="10" placeholder="Message">{{ old('message') }}</textarea>
                    </div>
                    <button class="btn btn-red g-recaptcha btn-submit" data-sitekey="{{ env('GOOGLE_RECAPTCHA_KEY') }}" data-callback='onSubmit'>Submit</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 contact-text text-center">
                    All my cakes are made from scratch and decorated with lots of love and time so the cakes tastes as good and as flavour full as they look. Some notice is needed in order to create the highest quality cakes.
                    <br><br>
                    I am located in York, to arrange a consultation please send me a message here or via e-mail with your contact information and the type of cake you require, images are optional but recomended.
                </div>
                <div class="col-md-12 text-center pt-4">
                    <img src="/storage/letter.png" alt="letter">
                </div>
                <div class="col-md-12 text-center pt-4">
                    <a href="mailto:info@tarisais.co.uk">info@tarisais.co.uk</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}