{% extends "templates/default.twig" %}

{% block content %}
    <div class="container gallery-container">
        <div class="row">
            {% for group in groups  %}
                <div class="col-md-3">
                    <a class="group-thumb" {% if thumbnails[group.id] is defined %}style="background-image: url('/storage/gallery/{{ group.id }}/{{ thumbnails[group.id] }}'); background-size: cover;"{% endif %} href="{{ route('showGroup', { id : group.id }) }}">
                        <div class="label">{{ group.name }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}