{% extends "templates/default.twig" %}

{% block content %}

    <div class="container home-container">
        <div class="row">
            <div class="home-img col-md-12">
                {#<span class="text-center home-title home2">#}
                    {#Bespoke Cakes#}
                {#</span>#}
                <img src="/storage/HOME.png" alt="Home" class="home1 img-fluid">
                <img src="/storage/HOME2.jpg" alt="Home mobile" class="home2 img-fluid">
            </div>
        </div>
    </div>

{% endblock %}