{% extends "templates/default.twig" %}

{% block content %}
    <div class="container gallery-group-container">

        <div class="col-md-12 title-container text-center" style="background-image: url('/storage/gallery/{{ group.id }}/{{ header.name }}');">
            <span>{{ group.name }}</span>
        </div>

        <p class="text-center">{{ group.desc }}</p>

        <div class="swiper-container">
            <div class="swiper-wrapper">

                {% for photo in group.photos if not photo.is_header and not photo.is_default %}
                    <div class="swiper-slide"><img src="/storage/gallery/{{ group.id }}/{{ photo.name }}" alt="" class="img-fluid"></div>
                {% endfor %}

            </div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>

        </div>
    </div>

{% endblock %}