{% macro render(fields) %}
    {% import "backend/_macros/forms.twig" as forms %}
    <div class="form-row">
    {% for index,field in fields %}
        <input type="hidden" value="{{ filed.id }}">
        {% if(field.type == "select") %}
            {% if index != 0 and fields[index-1].type != 'select' %}</div><div class="form-row">{% endif %}
            {{ forms.select(field.name,field.title,field.options,field.selectedoption,field.errors,field.multiple,field.col) }}
        {% elseif(field.type == "input") %}
            {% if index != 0 and fields[index-1].type in ['select', 'radio'] %}</div><div class="form-row">{% endif %}
            {{ forms.input(field.name,field.title,field.errors,field.value|default(''),'text',field.options) }}
        {% elseif(field.type == "checkbox") %}
            {% if index != 0 and fields[index-1].type in ['select', 'radio'] %}</div><div class="form-row">{% endif %}
            {{ forms.checkbox(field.name,field.title,field.value|default(''),field.type) }}
        {% elseif(field.type == "radio") %}
            {% if index != 0 and fields[index-1].type != 'radio' %}</div><div class="form-row">{% endif %}
            {{ forms.radio(field.name,field.title,field.options, field.value|default('')) }}
        {% elseif(field.type == "textarea") %}
            </div><div class="form-row">
                {{ forms.textarea(field.name,field.title,field.errors,field.value|default('')) }}
        {% endif %}
    {% endfor %}

    </div>
{% endmacro %}