{% macro input(name,title,errors,value='',type = 'text', options=[], requiredFields = [], col='col-md-5', id=null, placeholder='') %}
    {% import "backend/_macros/validation_errors.twig" as validation %}
    <div class="form-group {{ col|default("col-md-5") }}">
        <label class="" for="{{ name }}">{{ title }} {% if name in requiredFields %}*{% endif %}</label>
        <input type="{{ type }}" name="{{ name }}" value="{{ old(name)|default(value) }}" class="form-control{{ validation.addClass(errors,name) }}" id="{{ id == null ? name : id  }}" {% for index,item in options if index not in ["col"] %} {{ index }}="{{ item }}"{% endfor %} placeholder="{{ placeholder }}">
        {{ validation.message(errors,name) }}
    </div>
{% endmacro %}

{% macro checkbox(name,title,value='',type = 'checkbox', requiredFields = [], class='col-md-5', disabled = false) %}
    <div class="form-group {{ class }}">
        <div class="form-check">
            <label class="form-check-label">
                <input type="{{ type }}" class="form-check-input" name="{{ name }}" {% if value == 1 %}checked{% endif %} {% if disabled  %}disabled{% endif %}/>
                <span class="{% if type=='checkbox' %}checkbox-icon{% else %}radio-icon{% endif %}"></span>
              <span>{{ title }} {% if name in requiredFields %}*{% endif %}</span>
            </label>
        </div>
    </div>
{% endmacro %}

{% macro textarea(name,title,errors,value='', requiredFields = [], maxlength = "", class='col-md-10', elementclass='') %}
    {% import "backend/_macros/validation_errors.twig" as validation %}

    <div class="form-group {{ class }}">
        <label for="{{ name }}">{{ title }} {% if name in requiredFields %}*{% endif %}</label>
        <textarea name="{{ name }}" class="form-control{{ ' ' ~ elementclass ~ ' ' ~ validation.addClass(errors,name) }}" id="{{ name }}" maxlength="{{ maxlength }}">{{ old(name)|default(value) }}</textarea>

        {{ validation.message(errors,name) }}
    </div>
{% endmacro %}

{% macro select(name,title,options,selectedoption,errors,multiple = 'false',col = "col-md-5",disabled = "false", requiredFields = "false", placeholder="", defaultoption='true', disabledsearch='true') %}
    {#{% import "backend/_macros/validation_errors.twig" as validation %}#}

    <div class="form-group {{ col }}">
        <label for="{{ name }}">{{ title }} {% if requiredFields == "true" %}*{% endif %}</label>
        <select name="{{ name }}" id="{{ name }}">
            <option value="-1">Please choose</option>
            {% for option in options %}
                <option value="{{ option.id }} {% if selectedoption == option.id %}selected{% endif %}">{{ option.name }}</option>
            {% endfor %}
        </select>
        {{ validation.message(errors,name) }}
    </div>
{% endmacro %}

{% macro radio(name,title,options=[],value='', class='col-md-5') %}
    {% import "backend/_macros/validation_errors.twig" as validation %}

    <fieldset class="form-group {{  class }}">
        <legend>{{ title }}</legend>
        {% for option in options %}
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="{{ name }}" value="{{ option.id }}"/>
                    <span class="radio-icon"></span>
                    <span>{{ option.name }}</span>
                </label>
            </div>
            {{ validation.message(errors,name) }}
        {% endfor %}
    </fieldset>
{% endmacro %}

{% macro file(name,title,errors,value='',type = 'file', options=[], requiredFields = []) %}
    {% import "backend/_macros/validation_errors.twig" as validation %}

    <div class="form-group {{ options.col|default("col-md-5") }}">
        <label class="" for="{{ name }}">{{ title }} {% if name in requiredFields %}*{% endif %}</label>
        <input type="{{ type }}" name="{{ name }}" value="{{ old(name)|default(value) }}" class="form-control{{ validation.addClass(errors,name) }}" id="{{ name }}" {% for index,item in options if index not in ["col"] %} {{ index }}="{{ item }}"{% endfor %}>
        {{ validation.message(errors,name) }}
    </div>
{% endmacro %}



