<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TARISAIS - Admin</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">#}
</head>
<body>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>#}
</body>
</html>