{% extends "admin/templates/default.twig" %}

{% block content %}
    <form name="loginForm" novalidate class="mt-8" method="POST" action="{{ route('mainLoginAdmin') }}">
        {{ csrf_field() }}


        <div class="form-group mb-4">
            <label>Email:</label>
            <input name="email" type="email" class="form-control" id="loginFormInputEmail" aria-describedby="emailHelp" />
        </div>

        <div class="form-group mb-4">
            <label>Password</label>
            <input name="password" type="password" class="form-control" id="loginFormInputPassword"/>
        </div>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                <span class="icon-alert-outline center-block s-9 text-danger-900"></span>
                <p class="text-center text-danger-900">{{ error }}</p>
            </div>
        {% endif %}

        <button type="submit" class="submit-button btn btn-block btn-secondary my-4 mx-auto" aria-label="LOG IN">
            Login
        </button>

    </form>
{% endblock %}