
{% extends "admin/templates/default.twig" %}

{% block content %}
    <form method="post" action="{{ route('galleriesAdminStore') }}" id="gallery-form">
        {{ csrf_field() }}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="name" class="form-control" name="name" id="name"  placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="desc">Description:</label>
            <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="code">Code:</label>
            <input type="name" class="form-control" name="code" id="code"  placeholder="Enter code">
        </div>
        <div class="form-group">
            <button>Save</button>
        </div>
    </form>
{% endblock %}