{% extends "admin/templates/default.twig" %}

{% block content %}
    <h2>Galleries</h2>
    {% for gallery in galleries %}
        <div class="row">
            <div><a href="{{ route('galleriesAdminDetails',  gallery.id) }}">{{ gallery.name }}</a></div>
        </div>
    {% endfor %}
{% endblock %}

