{% import "_macros/forms.twig" as forms %}
{% extends "admin/templates/default.twig" %}

{% block content %}
    <form method="post" action="{{ route('galleryGroupAdminStore') }}" id="gallery-group-form">
        {{ csrf_field() }}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="name" class="form-control" name="name" id="name"  placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="desc">Description:</label>
            <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            {{ forms.select('gallery_id', 'gallery', galleries, -1) }}
        </div>
        <div class="form-group">
            <button>Save</button>
        </div>
    </form>
{% endblock %}