{% extends "admin/templates/default.twig" %}

{% block content %}
    <h2>Gallery Groups</h2>
    {% for galleryGroups in group %}
        <div class="row">
            <div><a href="{{ route('galleryGroupAdminDetails',  group.id) }}">{{ group.name }}</a></div>
        </div>
    {% endfor %}
{% endblock %}

