
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~swiper/dist/css/swiper.min.css";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// -- FRONTEND ---------------------------------------------------------------------------------------------------------

body {
  background-color: #ccc;
  font-family: Corbel;

}

.row {
  margin-left: 0;
  margin-right: 0;
}

.form-control {
  margin-bottom: 15px;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.header {
  display: flex;
  background-color: $red;
  height: 106px;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;

  .header-title {
    color: #fff;
    text-transform: uppercase;
    font-family: "Californian FB";
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
    letter-spacing: 5px;
  }

  .pink-line {
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height:2px;
    background-color: #e48c97;
  }
}

.navbar {
  background-color: $grey;
}

.navbar-nav {
  margin-bottom: 30px;

  li {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;

    a{
      color:#3c3c3c!important;
      text-transform: uppercase;
      font-size: 16px;
      text-align: center;

      &:hover {
        font-weight: bolder;
      }

      &.active {
        font-weight: bolder;
      }

    }
  }
}

.about-text {
  font-family: "Californian FB";
  font-size: 18px;
}

footer {
  border-bottom: 2px solid #f7586c;
  margin-top: 35px;
  margin-bottom: 30px;

  ul{
    list-style-type: none;
    padding-left:0;
    margin-bottom: 5px;

    li{
      display: inline-block;
    }
  }
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 121px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 30px;
}

.contact-container{
  .contact-text {
    border-bottom: 2px solid #f7586c;
    font-size:18px;
    padding: 0 0 20px 0;
  }

  .title-container {
    background-image: url('/storage/contact.png');
  }
}

form {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-style: italic;
  }
}

.form-control {
  background-color: #c2c2c2;
  border:0;

  &:focus {
    background-color: #c2c2c2;
  }

  &:not(:placeholder-shown) {
    background-color: #c2c2c2;
  }

  &:-internal-autofill-selected {
    background-color: #c2c2c2;
  }
}

.btn-red {
  background-color: #f7586c;
  color: #fff;
}

a {
  color: #000;
  letter-spacing: 3px;

  &:hover {
    color: #000;
  }
}

.gallery-container{
  .col-md-3{
    height: 257px;
    padding: 0;
    .group-thumb{
      position: relative;
      display: block;
      height: 100%;
      background-color: $red;
      padding: 5px;
      background-clip: content-box;

      .label{
        display: none;
        height: 55px;
        position: absolute;
        bottom: 5px;
        background-color: #e5e5e5;
        width: calc(100% - 10px);
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
      }

      &:hover .label {
        display: flex;
      }
    }
  }
}

.swiper-container {
  width: 100%;
  height: auto;

  .swiper-wrapper {

    .swiper-slide-active {
      background-color: #b6b6b6;
      text-align: center;
    }
  }

}

.gallery-group-container {
  p {
    font-size: 26px;
  }
}

.navbar-button {
  position: absolute;
  top:-58px;
  left: 0px;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border: 0;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.overlay {
  display: none;
}

.home2{
  display: none;
}

@media (max-width: 576px) {
  .home-title {
    position: absolute;
    width: 100%;
    top: 100px;
    font-size: 26px;
  }

  .home-img {
    padding: 0!important;

    .img-fluid {
      width: 100%;
    }
  }

  .home1{
    display: none;
  }

  .home2{
    display: block;
  }

  .header {
    height: 80px;
  }

  .navbar {
    padding: 0!important;
  }

  .overlay {
    display: block;
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(204,204,204,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(204,204,204,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(204,204,204,1.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6cccccc',GradientType=0 );
  }

  .about-text {
    text-align: center!important;

    p {
      text-align: center!important;
    }
  }

  .about-img {
    padding: 0;

    .img-fluid {
      width: 100%;
    }
  }

  .btn-submit {
    width: 100%;
  }

  .contact-container  .contact-text {
    padding: 10px 0;
  }
}