{% import "_macros/forms.twig" as forms %}
{% extends "admin/templates/default.twig" %}

{% block content %}
    <form method="post" action="{{ route('galleryPhotoAdminStore') }}" id="gallery-photo-form" enctype="multipart/form-data">
        {{ csrf_field() }}
        <div class="form-group">
            <label for="photos[]">Photos to upload:</label>
            <input type="file" class="form-control" name="photos[]" id="photos" multiple>
        </div>
        <div class="form-group">
            {{ forms.select('gallery_group_id', 'gallery group', galleryGroups, -1) }}
        </div>
        <div class="form-group">
            {{ forms.checkbox('is_default', 'Is default?') }}
        </div>
        <div class="form-group">
            {{ forms.checkbox('is_header', 'Is header?') }}
        </div>
        <div class="form-group">
            <button>Save</button>
        </div>
    </form>
{% endblock %}