{% extends "admin/templates/default.twig" %}

{% block content %}
    <h2>Photos</h2>
    {% for group in groups %}
            <h4>{{ group.name }}</h4>
        <div class="row">
            {% for photo in group.photos %}
                <div class="col-md-4">
                    <img src="/storage/gallery/{{ group.id }}/{{ photo.name }}" class="img-thumbnail" alt="">
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

