{% extends "email/templates/default.twig" %}

{% block content %}
    <div class="container">
        <h3>Hi Twandi!</h3>

        <p>You've recieved a new enquiry:</p>
        <div>Name: <strong>{{ details.name }}</strong></div>
        <div>Email: <strong>{{ details.email }}</strong></div>
        <div>Message: <strong>{{ details.message }}</strong></div>
        <div>IP: <strong>{{ details.ip }}</strong></div>
        <div>Date: <strong>{{ details.created_at }}</strong></div>
    </div>
{% endblock %}