<footer class="container">
    <ul>
        <li><a href="#"><img src="/storage/instagram.png" alt="Instagram"></a></li>
        <li><a href="#"><img src="/storage/facebook.png" alt="Facebook"></a></li>
        <li><a href="#"><img src="/storage/twitter.png" alt="Twitter"></a></li>
        <li><a href="#"><img src="/storage/pinterest.png" alt="Pinterest"></a></li>
    </ul>
</footer>