<div class="header">
    <a class="header-title" href="{{ route('home') }}">Tarisai's</a>
    <div class="pink-line"></div>
</div>

<div class="navbar navbar-expand-sm navbar-dark sticky-top">
    <button class="navbar-toggler navbar-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-0">
                <li class="nav-item">
                    <a class="nav-link{{ request().is('/') ? ' active' : '' }}" href="{{ route('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ request().is('about') ? ' active' : '' }}" href="{{ route('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ request().is('gallery') ? ' active' : '' }}" href="{{ route('gallery') }}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ request().is('contact') ? ' active' : '' }}" href="{{ route('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>



